<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <% const user = 'John Doe' %> <% let age = 98 %>
    <%- include('./partials/nav.ejs') %>
   <h1>Home page</h1>
   <h2>Welcome <%= user %></h2>
   <h5>I am a <%= role %></h5> 
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quia veniam consectetur optio officiis reiciendis dolorem qui minima temporibus eum!</p>
   <h3>Age is <%= age %></h3>
</body>
</html>